{% extends 'main/base.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}
<section class="auth-section">
    <div class="auth-card">
        <span class="mini-tag">Welcome Back</span>
        <h1>Sign In</h1>
        <p>Login to manage your Planteer account.</p>

        <form class="auth-form" action="{% url 'accounts:sign_in' %}{% if 'next' in request.GET %}?next={{ request.GET.next }}{% endif %}" method="POST">
            {% csrf_token %}

            <div class="auth-field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Enter your username" required>
            </div>

            <div class="auth-field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Enter your password" required>
            </div>

            <button class="primary-btn auth-btn" type="submit">Sign In</button>
        </form>
    </div>
</section>
{% endblock %}